.videoCard {
  width: 500px;
  height: 400px;
  padding: 20px;
  cursor: pointer;
  margin: 0 1.5rem;
  transition: transform 100ms;
  color: #fff;
}

.videoCard:hover {
  transform: scale(1.09);
}

.videoCard > img {
  height: 300px;
  object-fit: contain;
  width: 500px;
}

.videoCard > h2 {
  padding-top: 10px;
}

.videoCard__stats {
  display: none;
}
